body {
	background:Wheat;
}

li	{
	display:inline;
	padding: 40px; 
	color: Blue;
	font-family:Copperplate Gothic Light;   
	font-size: 20px; 	
	}
	
text {
	margin: 40px;
	text-align: center;
	width: 960px;
}

navigation {
	margin: 50px;
}