<!DOCTYPE html>
<html> 
	<head> 
		<title> About </title>
			 
		
	</head>
	
<body>
<div id = "header3">
	<h1> About </h2>
</div>

<section id = "what_we_do">
	<div id = "A">
		<h3> What is myTix? </h3> 
		<h4> myTix is an application that enables you to automatically put flights, concert tickets, and movie tickets onto your calendar as well as links you to the itineraries, so you don't have to go searching in your mail </h4> 
	</div>

		<div id = "B">
			<h3> Do I need to pay to use myTix? </h3> 
				<h4> Nope, myTix is completely free :) </h4>
		</div>
		
		<div id = "C">
			<h3> What do I need to start using myTix? </h3>
				<h4> All you need is a Google Account, which you can make by starting <a href = hhttps://accounts.google.com/SignUp?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ltmpl=default> here </a></h4>
		</div>
				
		<div id = "D">
			<h3> What events will be added to my calendar?</h3>
				<h4> Currently, we automatically add any concert tickets from Ticketmaster, LiveNation, and Stubhub; we also   support airplane tickets from most major airlines, as well as movie tickets from Fandango. </h4>
		</div>
				
		<div id = "E">
			<h3> I'm having technical difficulties/I want to suggest a feature. Who do I contact? </h3>
				<h4> If you have any questions, concerns, etc. feel free to email us at support@mytix.com and we will get back to you as soon as possible! </h4> 
		</div>
</section>
				

			</body>
		</html>

</body>