<!DOCTYPE html>
<html> 
	<head> 
		<title> Contact Us
			</title>	
			<link rel="stylesheet" href="stylesheet_contact.css" type="text/css" media="screen" title="no title" charset="utf-8">
			
	</head>	
	
	<body>
	
	<div id = "text">
	<h2> Contact Us </h2>
	<h3> Questions? Contact us via support@mytix.com! </h3>
	</div>
	
	<div id = "navigation"> 			      
		<ul>
		        <li><a href="about.html" id="" title="about">about</a> </li>
		        <li>Blog</li>
		        <li>News</li>
		        <li><a href="contact.html" title="contact"> contact </a></li>
		      </ul>
		</div>
	
	</body>
	</html>