<!DOCTYPE html>
<html> 
	<head> 
		<title> myTix: Find your tickets, faster. 
			</title>
			
			
			
	</head>	
	
	<body>

  <div id = "header"> 
    <h1> Find your tickets faster from your email.  </h1> 
  </div>
  <div id = "header2"> 
    <h1> Add your tickets for events easily to your calendar. </h1>
  </div> 
  
				
		<section id = "how_it_works"> 
		<div id = "prevent_float">
			<h2> How It Works... </h2> 
				<div id  = "step_1" class="how_it_works">
					<img src = "http://placekitten.com/g/250/250" />
					<h4> 1. Sign up for myTix, and link your Google account (if you don't have one sign up <a href = https://accounts.google.com/SignUp?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ltmpl=default >here </a>)</h4>
				</div>
			
				<div id = "step_2" class="how_it_works">
					<img src = 	"http://placekitten.com/g/250/250" /> 
					<h4> 2. myTix will automatically go through your email and add your events (concerts, movie tickets, flights) to your calendar and link you to your tickets in the email. </h4>
				</div>
				
				<div id = "step_3" class="how_it_works">
				<img src = 	"http://placekitten.com/g/250/250" /> 
					<h4> 3. Access your tickets, dates, and venues anytime by logging into your Google Calendar- automatically updated by us! </h4>
				</div>
			</div>
		</section>
		
				
		<div id = "footer"> 

		<h4> What are you waiting for? Join the _____ people using myTix now! </h4>
</div>		
			
	</body>
</html>