<!DOCTYPE html>
<html>
	<head> 
		<link rel="stylesheet" href="Public/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	</head>	

<body> 
	<section id = "bottom"> 		
		<div id = "signup_button">
       		<button class="btn-small">Sign up!</button>
        </div>

		<div id = "navigation"> 			      
			<ul>
	        	<li><a href="about.html" id="" title="about">about</a> </li>
	        	<li>Blog</li>
	        	<li>News</li>
	        	<li><a href="contact.html" title="contact"> contact </a></li>
	      </ul>
	    </div>
	</section>
</body>  
</html>