*{	
	margin: 0;
	padding: 0;
}

body {
	background:Wheat;
}

#header {
	margin: 10px auto;
	width: 960px;	
	height: 45px; 
	font-family: Impact; 
	color: Tomato; 
	text-align: center; 
}

#A {
	margin: 10px;
	font-family: Times;
	color: Purple;
}

#B {
	margin: 10px;
	font-family: Times;
	color: Purple;
}

#C {
	margin: 10px;
	font-family: Times;
	color: Purple;
}

#D {
	margin: 10px;
	font-family: Times;
	color: Purple;
}

#E {
	margin: 10px;
	font-family: Times;
	color: Purple;
}


li	{
	display:inline;
	padding: 40px; 
	color: Blue;
	font-family:Copperplate Gothic Light;   
	font-size: 20px; 	
	}